@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  max-width: 1143px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

main {
  margin-top: 152px;
}

// Ham burger Menu
.hamburger {
  margin-left: 8px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  display: none;
}

.hamburger li {
  list-style: none;
  position: absolute;
  background: #fff;
  width: 100%;
  height: 3px;
  transform: translateY(-50%);
  transition: 0.4s;
}

.hamburger.white li {
  background: #ffffff;
}

.hamburger li:nth-of-type(1) {
  top: 20%;
}

.hamburger li:nth-of-type(2) {
  top: 50%;
}

.hamburger li:nth-of-type(3),
.hamburger li:nth-of-type(4) {
  width: 50%;
  top: 80%;
}

.hamburger li:nth-of-type(1),
.hamburger li:nth-of-type(2),
.hamburger li:nth-of-type(3) {
  left: 0;
}

.hamburger li:nth-of-type(4) {
  right: 0;
}

.hamburger.active li:nth-of-type(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.hamburger.active li:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.hamburger.active li:nth-of-type(3) {
  left: -50%;
  opacity: 0;
}

.hamburger.active li:nth-of-type(4) {
  right: -50%;
  opacity: 0;
}

@media (max-width: 1024px) {
  .hamburger {
    display: block;
  }
}

.form-checkbox {
  @apply text-brown;
  @apply bg-white;
  @apply border-brown;
  appearance: none;
  color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  user-select: none;
  flex-shrink: 0;
  border-width: 1px;
}

.form-checkbox:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.line150 {
  line-height: 150%;
}

.slick-prev {
  left: 0px !important;
  &::before {
    display: none;
  }
}

.slick-next {
  right: 0px !important;
  &::before {
    display: none;
  }
}

.scroll-w-none::-webkit-scrollbar {
  width: 0;
  height: 0;
}

table,
th,
td {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 0;
  margin: 0;
  width: 100%;
}

table tbody tr td:first-child {
  padding-left: 0;
  width: 100px;
}

table thead tr th:first-child {
  text-align: left;
  padding-left: 0;
}

table tbody img {
  margin: 0 auto;
}

caption,
th,
td {
  text-align: left;
}

th {
  border-width: 0;
  padding: 8px 7px 7px;
}

td {
  border-width: 0;
  padding: 10px 18px 12px;
}

th:first-child {
  text-align: left;
}

tr:last-child td {
  border-bottom: 0;
}
